@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html,body{
    height: 100%;
    width: 100%;

}
.main{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.nav .part-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .part-1 h3{
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
}
.nav .part-1 i{
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
}
.nav .part-2 h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
.nav button{
    padding: 7px 12px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;

}
.btn2{
    border: none !important;
    background-color: orangered;
    color: white;
}
.main-head-1{
    font-size: 100px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}
.main>img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#img-1{
    transform: translate(-50% , -50%) rotate(-30deg);
}
#img-2{
    transform: translate(-50% , -50%) rotate(-20deg);
}
#img-3{
    transform: translate(-50% , -50%) rotate(-10deg);
}

.main .btm-left{
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 17px;
}
#main-icons{
    position: absolute;
    bottom: 5%;
    left: 92%;
    display: flex-box;
    width: 100%;
}
#center-icon{
    position: absolute;
    bottom: 5%;
    left: 48%;
    transform: translate(-50%,-50%);
    border-radius: 50%;

}

